[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
numpy = {path = "./numpy-1.21.2+mkl-cp310-cp310-win_amd64.whl"}
mss = "*"
opencv-python = {path = "./opencv_python-4.5.3-cp310-cp310-win_amd64.whl"}

[dev-packages]
icecream = "*"

[requires]
python_version = "3.10"
